.notification {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2rem;
  background-color: #1a8ed1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 10%;
  justify-content: center;
  color: white;

  &-header,
  &-paragraph {
    font-size: 1rem;
    margin: 0;
  }
}

.error {
  background-color: #690000;
}

.success {
  background-color: #1ad1b9;
}
