@import '../../styles/shared-variables.module.scss';
$border-radius: 4px;
@mixin user-title {
  display: block;
  margin: 1rem 0 0.5rem 3rem;
  height: 1rem;
  color: #2ea3f2;
  text-decoration: none;
  font-weight: bold;
}

.user {
  width: 25rem;
  box-shadow: $shadow;
  border-radius: $border-radius;
  // margin-bottom: 2rem;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  &-card-top {
    height: 10rem;
    display: flex;
    flex-direction: row;
    padding: 20px;
    &-description {
      height: inherit;
      // width: 75%;
      margin: 0;
      &-login {
        font-size: 18px;
        margin-bottom: 6px;
      }
      &-badge {
        padding: 2px 4px 2px 4px;
        border-radius: 2px;
        background-color: #a5d8ff;
        color: #3b5bdb;
      }
      &-id {
        display: inline-block;
        font-size: $font-font-size-small;
      }
      &-page {
        font-size: $font-font-size-small;
      }
    }

    &-image {
      // height: 15rem;
      border-radius: $border-radius;
      height: inherit;
      width: 5rem;
      margin: 0.5rem 0 0 1rem;
      // box-shadow: $shadow;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-top: solid 1px $secondary-text-color;
    &-button {
      color: #2ea3f2;
      text-decoration: none;
      font-weight: bold;
      // cursor: pointer;
    }
    // &:hover {
    //   color: black;
    //   font-size: 1.1rem;
    // }
  }
}
