@import '../../../styles/shared-variables.module.scss';
$border-radius: 4px;
@mixin badge-style {
  font-size: $font-font-size-small;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  margin-right: 10px;
}
.user-card-top {
  // height: auto;
  display: flex;
  flex-direction: row;
  padding: 20px;
  &-description {
    // height: inherit;
    margin: 0;
    &-login {
      font-size: 18px;
      margin: 0;
    }
    &-rank {
      margin: 6px 0 8px 0;
      &-badge {
        &-a {
          @include badge-style;
          background-color: $team-a-background-color;
          color: $team-a-text-color;
        }
        &-b {
          @include badge-style;
          background-color: $team-b-background-color;
          color: $team-b-text-color;
        }
        &-c {
          @include badge-style;
          background-color: $team-c-background-color;
          color: $team-c-text-color;
        }
      }
      &-id {
        display: inline-block;
        font-size: $font-font-size-small;
        color: $secondary-text-color;
      }
    }

    &-image {
      height: 12px;
      margin: 0 2px 0 1px;
      // color: $secondary-text-color;
    }
    &-page {
      cursor: pointer;
      text-decoration: none;
      color: $secondary-text-color;
      font-size: $font-font-size-small;
    }
  }

  &-image {
    max-height: 6rem;
    max-width: 6rem;
    border-radius: $border-radius;
    height: inherit;
    width: 5rem;
    margin-right: 12px;
  }
}
